:root {
  --grey50: rgb(255, 255, 255);
  --grey100: rgb(251, 251, 251);
  --grey200: rgb(242, 242, 242);
  --grey300: rgb(233, 233, 231);
  --grey400: rgb(163, 163, 163);
  --grey500: rgb(119, 119, 127);
  --grey600: rgb(82, 82, 82);
  --grey700: rgb(49, 49, 49);
  --grey800: rgb(31, 31, 31);
  --grey900: rgb(23, 23, 23);
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main.app {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.icon {
  opacity: 0.5;
}

.indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1rem;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.spinner-spin {
  animation: 1s linear 0s rotate infinite;
}

.spinner-hidden {
  animation: 1000ms ease-in-out forwards hide;
}

.sidebar {
  width: 15rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--grey100);
  border-right: 1px solid var(--grey200);
}

.sidebar .header {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.sidebar .symbol {
  width: 1.3rem;
  height: 1.3rem;
  text-align: center;
  color: var(--grey500);
  background-color: var(--grey300);
}

.sidebar .documents {
  padding-right: 0.5rem;
}
.sidebar .documents ul {
  margin: 0;
}

.sidebar .create-button,
.sidebar .delete-button {
  padding: 0;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.sidebar .create-button:hover,
.sidebar .delete-button:hover {
  background-color: var(--grey300);
}

.sidebar .create-button > img,
.sidebar .delete-button > img {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}

.sidebar ul {
  list-style: none;
  padding-inline-start: 0rem;
  color: var(--grey500);
}

.sidebar ul li {
  line-height: 1.75rem;
  padding-inline-start: 1rem;
}

.sidebar .document {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.125rem;
}

.sidebar .document .document-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.25rem;
  max-width: 80%;
  overflow: hidden;
}

.sidebar .document .document-title .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.sidebar .document .document-title span {
  white-space: nowrap;
}

.documents li[data-selected="true"] > .document {
  background-color: var(--grey200);
}

.documents li[data-selected="true"] > .document > span {
  font-weight: bold;
  color: rgb(55, 53, 47);
}

.sidebar .document .buttons {
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100% - 15rem);
  padding: 5rem;
}

.editor .title,
.editor .content,
.editor .content:focus-visible {
  border: 0;
  outline: none;
}

.editor .title {
  font-size: 2.5rem;
  font-weight: bold;
}

.editor .content {
  min-height: 15rem;
}

.editor-disabled .title,
.editor-disabled .buttons,
.editor-disabled .content {
  pointer-events: none;
  background: none;
}

.editor .child-pages-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.125rem;
  color: rgb(55, 53, 47);
  margin: 0;
  padding: 0;
  margin: 0.5rem 0;
}

.editor .child-pages {
  list-style: none;
  padding: 0;
  margin: 0;
}
.editor .child-page {
  display: flex;
  align-items: center;
  height: 1.75rem;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(25, 23, 17, 0.6);
}

.editor .child-page .icon {
  width: 1.25rem;
}

.editor .buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem 0;
}

.editor .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--grey100);
}

.editor .buttons button:hover {
  background-color: var(--grey300);
}

.editor .buttons button .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.link-block {
  font-weight: 500;
  color: var(--grey700);
  text-decoration: none;
}

.link-block .document-title {
  text-decoration: underline;
}
