#app {
  display: flex;
  flex-direction: row;
}


.toggle-ul {
  display: none;
}

.active {
  display: block;
}



.post-list {
  width: 300px;
  height: 100vh;
  border: 1px solid black;
}

.post-list ul {
  list-style: none;
  padding-left: 20px;
}

.post-li {
  margin: auto;
}

.post-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.input-title {
  width: 90%;

}

.input-content {
  width: 90%;
  height: 90%;
}