html {
  width: 100px;
}

body {
  width: 100px;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: row;
  width: 95vw;
}

/* PostListPage */

.post-list-page {
  width: 225px;
  height: 100vh;
  border: 1px solid #e1e1e1;
  background-color: #fbfbfa;
  margin: 1px 0;
  padding: 2px 10px;
}

/* PostList */

.post-list-block {
  display: flex;
  align-items: center;
  color: #6d6c69;
  cursor: pointer;
}

.post-list-title {
  height: 37px;
  color: #37352f;
}

.post-title {
  margin-left: 3px;
}

.toggle-off {
  display: none;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-list ul {
  list-style: none;
  padding-left: 20px;
}

.parent-list {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border-radius: 3px;
}

.parent-list:hover,
.selected {
  background-color: #ebebea;
}

.post-title {
  display: block;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* PostEditPage */

.post-edit-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Editor */

[contenteditable]:focus {
  outline: 0px solid transparent;
}

[contenteditable]:empty:not(:focus):before {
  content: attr(data-text);
  color: #e1e1e1;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.text-container {
  display: flex;
  width: 100%;
  margin: 10px 300px;
}

/* TitleEditor */

.title-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 50px;
}

.title-top-margin {
  margin: 80px 0 4px 1px;
}

.input-title {
  border: 0px;
  width: 100%;
}

.input-content h1,
.input-content h2,
.input-content h3,
.input-content h4,
.input-content h5 {
  display: inline;
}
